<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title – приложение ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/vue")
</head>
<body>
	<header>
		<div class="custom-container">
			<label id="toggle-icon" for="toggle">&#9776</label>
			<input type="checkbox" id="toggle" />
			<nav>

				<div id="left-menu">
					<ul>
						<li>@Html.ActionLink("Домашняя страница", "Index", "Home")</li>
						<li>@Html.ActionLink("О программе", "About", "Home")</li>
						<li>@Html.ActionLink("Контакт", "Contact", "Home" )</li>
						<li>@Html.ActionLink("Заявки", "GetApplication", "Application")</li>
					</ul>
				</div>
				<div id="right-menu">
					@Html.Partial("_LoginPartial")
				</div>
			</nav>
		</div>
	</header>
</body>





<div class="custom-container body-content">
	@RenderBody()
	
	@*<footer>
		<p>&copy; @DateTime.Now.Year – приложение ASP.NET</p>
	</footer>*@
</div>
<footer>
	<div class="custom-container"> Подвал</div>
</footer>


@RenderSection("scripts", required: false)
</body>
</html>
